*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
}
body {
  font-family:Tahoma;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #3b7cd8;
  text-decoration: none;
}

a:hover {
  color: #599eff;
}

.authors{
  /*border: 4px solid rgba(0, 0, 0, 0.2);*/
}

.io{
 border-color: rgba(0,0,0,0.2);
 color: white;
 border-width: 4px;
 outline: none;
 background: rgba(0, 0, 0, 0);
 font-size: 40px;
 color: white;
 align-items: center;
 margin-bottom: 40px;
 padding-top: 2%;
 padding-bottom: 2%;
 padding-left: 3%;
}
.io::placeholder{
  color:#fff;
}

.translate-form{
  margin-top: 50px;
}

.header{
  position: fixed;
  top: 100px;
}
.wrapper{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.section{
  background-image: url("../img/wall/wall_sunrise.jpg");
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 60px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(0,0,0,.2);
  border: 4px solid rgba(0,0,0,.2);
  padding: 0 16px;
}
.subtitle{
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.menu {
  width: 100%;
  position: fixed;
  top: 50px;
  text-align: center;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li{
  display: inline-block;
  vertical-align: middle;
}

.menu li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-size: 18px;
  position: relative;
  display: inline-block;
}

.menu li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.menu li:hover a:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.menu li:nth-child(1) a {
  animation: show 0.2s 1.1s ease 1 both;
}

.menu li:nth-child(2) a{
  animation: show 0.2s 1.2s ease 1 both;
}

.menu li:nth-child(3) a{
  animation: show 0.2s 1.3s ease 1 both;
}

.menu li:nth-child(4) a {
  animation: show 0.2s 1.4s ease 1 both;
}

.menu li:nth-child(5) a {
  animation: show 0.2s 1.5s ease 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
